doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href=require('main.scss') rel='stylesheet')
    title RSS Gem Puzzle       
  body
    header
    main
      .container
        h1 RSS Gem Puzzle
        .buttons 
          button.start Shuffle and start
          button.stop Stop
          button.save Save
          button.result Result
        .current-info
          .moves Moves: #[span 0]
          .timer Time #[span 00:00]
        .game-container  
          
          //- canvas(width='400' height='400').game.four Game block            

        .frame-size-info Frame size: #[span 4x4]
        .other-frame-sizes Other sizes: #[span #[a(href='#', data-action="3", class="frame-size three") 3x3] #[a(href='#', data-action="4", class="frame-size four") 4x4] #[a(href='#', data-action="5", class="frame-size five") 5x5] #[a(href='#', data-action="6", class="frame-size six") 6x6] #[a(href='#', data-action="7", class="frame-size seven") 7x7] #[a(href='#', data-action="8", class="frame-size eight") 8x8]]
    footer
    script(src=require('main.js') defer)
  body
